@import "../partials/variables.scss";

.copyright__title {
  margin-bottom: 15px;
  font-weight: normal;
  text-align: center;
}

.copyright__link {
  margin: 0 auto;
  display: block;
  color: #fff;
}
