@import "../partials/variables";
@import "../partials/mixins";

.page-form {
  position: relative;
  background: #f8f5f2;
  z-index: 3;

  input,
  textarea {
    margin-bottom: 6px;
    width: 100%;
    line-height: 50px;
    @include ptsans;
    font-size: 18px;
    text-indent: 19px;
    border: 1px solid #e5ddd5;
  }

  input {
    height: 50px;
    &:focus {
      border: 1px solid #999999;
    }
  }

  textarea {
    height: 112px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    @media screen and (min-width: $xl) {
      height: 211px;
    }
  }

  input::-webkit-input-placeholder {
    color: #000;
    font-weight: bold;
  }

  /* webkit */

  input::-moz-placeholder {
    color: #000;
    font-weight: bold;
  }

  /* webkit */

  input:-moz-placeholder {
    color: #000;
    font-weight: bold;
  }

  /* webkit */

  input:-ms-input-placeholder {
    color: #000;
    font-weight: bold;
  }
}

.page-form__group {
  margin-bottom: 26px;

  &--last {
    margin-bottom: 0;
    @media screen and (min-width: $xl) {
      display: flex;
      justify-content: space-between;
    }

    .page-form__input {
      margin-bottom: 35px;
      @media screen and (min-width: $xl) {
        flex-basis: 462px;
      }
    }
  }

  &--first {
    @media screen and (min-width: $md) {
      display: flex;
      @media screen and (min-width: $xl) {
        justify-content: space-between;
      }
    }

    .page-form__input {
      flex-grow: 1;
      @media screen and (min-width: $md) {
        flex-basis: 295px;
        flex-grow: initial;
      }

      &:nth-child(2),
      &:last-child {
        margin-left: -1px;
      }
    }
  }
}
