@import "../partials/_variables.scss";
@import "../partials/_mixins.scss";

.price-list {
  padding: 35px 0;
  color: #fff;
  background: $body-bg;
}

.price-list__wrapper {
  @media screen and (min-width: $xl) {
    display: flex;
    justify-content: space-between;
  }
}

.price-list__title {
  margin-bottom: 28px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: $md) {
    text-align: left;
  }
}
