@import "../partials/_variables.scss";

.section-header {
  padding-top: 33px;
  padding-bottom: 33px;
  @media screen and (min-width: $md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.section-header__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  @media screen and (min-width: $md) {
    font-size: 40px;
  }
}
.section-header__button {
  display: none;
  @media screen and (min-width: $md) {
    display: block;
  }
}
