@import "../partials/_variables.scss";

.site-list {
  min-height: 255px;
  font-weight: bold;

  @media screen and (max-width: 767px) {
    min-height: auto;
  }

  @media screen and (min-width: $md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 570px;
  }

  &__item {
    @media screen and (min-width: $md) {
      margin-right: 32px;
    }

    &:last-child {
      @media screen and (min-width: $md) {
        margin-right: 0;
      }
    }

    &--active {
      @media screen and (min-width: $md) {
        position: relative;
      }

      &::after {
        @media screen and (min-width: $md) {
          content: '';
          position: absolute;
          right: 0;
          bottom: -3px;
          left: 0;
          height: 3px;
          background: $accent-color;
        }
      }
    }
  }

  a {
    display: block;
    padding: 12px 21px;
    padding-bottom: 13px;
    font-size: $regular-size;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: $white-color;
    background: $accent-color;
    border-top: 1px solid $accent-color-lightnest;
    border-bottom: 1px solid $accent-color-darknest;
    transition: all .4s ease;

    @media screen and (min-width: $md) {
      padding: 0;
      padding-top: 25px;
      padding-bottom: 23px;
      background: none;
      border: none;
    }

    &:hover {
      background: #755a46;
      border-top-color: #755a46;

      @media screen and (min-width: $md) {
        color: #000;
        background: #fff;
      }
    }

    &[href]:active {
      color: rgba(255,255,255,.3);
      background: #6a4d38;
      border-top-color: #6a4d38;

      @media screen and (min-width: $md) {
        color: rgba(0,0,0,.3);
        background: #fff;
      }
    }
  }

  @media screen and (min-width: $md) {
    width: 570px;
    min-height: 70px;
  }

  @media screen and (min-width: $xl) {
    width: 780px;
  }
}

@media screen and (min-width: $xl) {
  .site-list {
    &__item {
      margin-right: 0;

      &--active::after {
        right: 30px;
        left: 30px;
      }

      a {
        padding-left: 31px;
        padding-right: 31px;
      }
    }
  }
}
