@import "../partials/variables.scss";

.social__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  height: 101px;
  border: 1px solid #3f3f3f;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-right: 1px solid #3f3f3f;
  &:last-child {
    border-right: none;
  }
}

.social__title {
  display: none;
}

.social-inst {
  width: 36px;
  height: 36px;
}
.social-fb {
  width: 18px;
  height: 39px;
}
.social-vk {
  width: 23px;
  height: 26px;
}
