.advantages__relative
  section.advantages
    .advantages__wrapper.slider
      h2.visually-hidden Наши преимущества

      ul.advantages__list.slider-list
        li.advantages__item.advantages__item--fast.slider__item
          .advantages__icon
            img.advantages__img(src="assets/i/advantages/1.svg" alt="icon")
          .advantages__content
            h3.advantages__title быстро
            p.advantages__description
              | Мы делаем свою работу быстро! Два часа пролетят незаметно и Вы — счастливый обладатель стильной стрижки-минутки
        li.advantages__item.advantages__item--cool.slider__item
          .advantages__icon
            img.advantages__img(src="assets/i/advantages/2.svg" alt="icon")
          .advantages__content
            h3.advantages__title круто
            p.advantages__description
              | забудьте, как вы стриглись раньше. мы сделаем из вас звезду футбола или кино. во всяком случае внешне.
        li.advantages__item.advantages__item--price.slider__item
          .advantages__icon
            img.advantages__img(src="assets/i/advantages/3.svg" alt="icon")
          .advantages__content
            h3.advantages__title дорого
            p.advantages__description
              | наши мастера — профессионалы своего делаи не могут стоить дёшево. к тому же, разве цена не даёт определённый статус?
      //ul.advantages__list
      //.advantages__wrapper.slider
      //section.advantages
