.clock__wrap
  .clock
  .clock__time
    | <span class="clock__text-upper">C <span class="clock__before">10:00</span> до <span class="clock__after">14:00</span></span> скидка <span class="clock__percent">20%</span>
//.clock
