section.news
  .news__wrapper
    h2.news__title Новости и акции
    ul.news__list
      li.news__item
        time.news__time(date-time="2017-09-29")
          <b>29</b>
          span сент
        a.news__text(href="#")
          | Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.
      li.news__item
        time.news__time(date-time="2017-09-19")
          <b>19</b>
          span сент
        a.news__text(href="#")
          | В нашей команде пополнение, Борис «Бритва» Стригунец, пополнил наши стройные ряды. Спешите записаться!
      li.news__item
        time.news__time(date-time="2017-09-9")
          <b>9</b>
          span сент
        a.news__text(href="#")
          | Все дорожает, а наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чем здесь подвох!
    //ul.news__list
    |
    |
    .button__wrap.news__button
      a.news__to-all.button(href="#").button--small Показать все
  //.news__wrapper
//section.news
