section.page-form
  .container
    header.page-form__header.section-header
      h3.page-form__title.section-header__title Запись на стрижку
      a.page-form__button.button.button--small.section-header__button(href="index.html") На главную

    form.page-form__form
      .page-form__group.page-form__group--first
        input.page-form__input.page-form__input--name(type="text" placeholder="Имя")
        input.page-form__input.page-form__input--last-name(type="text" placeholder="Фамилия")
        input.page-form__input.page-form__input--patronymic(type="text" placeholder="Отчество")

      .page-form__group.page-form__group--last
        input.page-form__input.page-form__input--phone(type="phone" placeholder="Контактный телефон")
        input.page-form__input.page-form__input--email(type="email" placeholder="Контактный e-mail")

      textarea(name="message", cols="30", rows="10") Доп. информация для мастера
//section.page-form
