header.page-header
  a.page-header__logo
    picture
      source(media="(min-width: 1200px)", srcset="assets/i/logo/logotype-desktop.svg")
      source(media="(min-width: 768px)", srcset="assets/i/logo/logotype-tablet.svg")
      img(src="assets/i/logo/logotype-mobile.svg" alt="Барбершоп «Бородинский»")

  nav.main-nav.main-nav--opened.main-nav--no-js
    button.main-nav__toggle(type="button")
      span.visually-hidden Открыть меню

    .container
      .main-nav__wrapper
        ul.main-nav__list.site-list
          block main-nav
            li.site-list__item.site-list__item--active
              a(href="index.html") Главная
            li.site-list__item
              a(href="our-works.html") Наши работы
            li.site-list__item
              a(href="#") Запсаться
            li.site-list__item
              a(href="#") Контакты
            li.site-list__item
              a(href="#") Html Academy

        ul.main-nav__list.user-list
          li.user-list__item
            a.user-list__login(href="login.html") Войти
      //main-nav__wrapper
  //main-nav
//page-header
