table.price-table
  tr
    td.price-table__num 1
    td.price-table__name
      span.price-table__haircut Классическая стрижка
      span.price-table__description (с мытьем головы)
    td.price-table__description-tablet с мытьем головы
    td.price-table__price 1500 руб.

  tr
    td.price-table__num 2
    td.price-table__name
      span.price-table__haircut Современный вариант
      span.price-table__description (с мытьем головы)
    td.price-table__description-tablet с мытьем головы
    td.price-table__price 1500 руб.

  tr
    td.price-table__num 3
    td.price-table__name
      span.price-table__haircut Индивидуальный подход
      span.price-table__description (с мытьем головы)
    td.price-table__description-tablet с мытьем головы
    td.price-table__price 2000 руб.

  tr
    td.price-table__num 4
    td.price-table__name
      span.price-table__haircut Бритье бороды
      span.price-table__description (без мытья)
    td.price-table__description-tablet без мытья
    td.price-table__price 500 руб.

  tr
    td.price-table__num 3
    td.price-table__name
      span.price-table__haircut Бритье головы
      span.price-table__description (с мытьем головы)
    td.price-table__description-tablet с мытьем головы
    td.price-table__price 1000 руб.
//table.our-works__table.price-table
