section.reviews
  .reviews__wrapper.slider
    .reviews__header
      h2.reviews__title Отзывы о нас
      |
      |
      a.reviews__write.button(href="#").button--small Оставить свой
    .reviews__list.slider__list
      blockquote.reviews__item.slider__item
        p.reviews__author-picture
          img.reviews__author-image(src="assets/i/reviews/1.jpg" alt="" width="50" height="33")
        .reviews__content
          cite.reviews__author-name Трэвис Баркер
          p.reviews__text Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
      blockquote.reviews__item.slider__item
        p.reviews__author-picture
          img.reviews__author-image(src="assets/i/reviews/2.jpg" alt="" width="50" height="33")
        .reviews__content
          cite.reviews__author-name Джон Смит
          p.reviews__text Олтичную  стрижку мне сделали ребята
      blockquote.reviews__item.slider__item
        p.reviews__author-picture
          img.reviews__author-image(src="assets/i/reviews/3.jpg" alt="" width="50" height="33")
        .reviews__content
          cite.reviews__author-name Иван Бородайло
          p.reviews__text В Бородинском ваша борода в надежных руках!
    //.reviews__list.slider__list
    //.reviews__wrapper.slider
//section.reviews
