section.stats
  header.stats__header
    h2.visually-hidden Статистика Барбершопа
    b.stats__slogan Стрижка у нас это выгодно!
    p.stats__intro Мужская стрижка требует точного подхода. Обратимся к статистике:
    |
    |
    small.stats__legend.stats__legend--top
      sup *
      |  — приведенные данные ложь

  table.stats__list
    tr
      td.stats__value 1 500 <sup>*</sup>
      td.stats__field рублей <br> вложений
    tr
      td.stats__value 7 200
      td.stats__field секунд <br> времени мастера
    tr
      td.stats__value 90 000
      td.stats__field постриженных <br> волос
    tr
      td.stats__value 500 000 <sup>*</sup>
      td.stats__field лайков и <br> комплиментов
  //stats__list
  |
  |
  small.stats__legend.stats__legend--bottom
    sup *
    |  — приведенные данные ложь
//section.stats
