extends template

block css

block title
  title Контакты

block content

  include ../includes/page-header-form.pug

  main.page-main
    include ../includes/after-header.pug
    include ../includes/page-form.pug
    include ../includes/choose-section.pug
    include ../includes/services-section.pug


  //page-main

  include ../includes/page-footer.pug
  |
  |
block comment-scripts
block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js")
  script(src="assets/js/main.js")

