extends template

block css

block title
	title Главная

block content
	.container

		span.icon.clap

		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, et consequuntur obcaecati, architecto temporibus perspiciatis amet provident debitis consectetur laudantium nihil assumenda optio, commodi ratione deleniti? Voluptatem doloremque aspernatur consectetur!

	//footer
	|
	|
block comment-scripts
block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js")
	script(src="assets/js/main.min.js")

