extends template

block css
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title Main

block content
	include ../includes/mixins

	h1 Webpack IE 11 Browser lists

	.container
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat amet, recusandae id eaque, fugiat nihil quibusdam adipisci cupiditate animi architecto tempora! Ipsam temporibus ipsa illo qui sed, quis minus earum?
		a.open-list(href="#") open list
		ul
			li first
			li second
			li third
				ul.sub-menu
					li fourth
					li third
					li fifth

		a.my-button(href="#") My button

block scripts
	script(src="assets/js/main.js")
