extends template

block title
	title Главная

block content
	.hidden
		include ../../../build/assets/i/svg/inline/sprite.svg

	.container-big

	include ../includes/ie-scripts
	include ../includes/scripts.pug
	script(src="assets/js/main.min.js")

