extends template

block css

block title

  title Наши работы


block content

  include ../includes/page-header-photo.pug

  main.page-main
    include ../includes/after-header.pug
    section.our-works
      .container
        header.page-form__header.section-header
          h3.page-form__title.section-header__title Наши работ
          a.page-form__button.button.button--small.section-header__button(href="index.html") На главную
        //section-header

        .our-works__list
          .our-works__item.our-works__item--month-work
            .our-works__picture
              picture
                source(media="(min-width: 768px)", srcset="assets/i/our-works/1-tablet.jpg")
                img.our-works__image(src="assets/i/our-works/1-mobile.jpg" alt="")
              .our-works__label работа месяца
            .our-works__content
              h3.our-works__title Лжепётр Мчиславский
              p.our-works__text Где я только не стригся, но так как делаете это вы — не умеет никто другой! Еще раз спасибо и до скорого!
              ul.our-works__meta.meta
                li.meta__item
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21" height="20" viewBox="0 0 21 20"><g><g transform="translate(-42 -892)"><image width="21" height="20" transform="translate(42 892)" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAYAAABiS3YzAAAA8UlEQVQ4T7WV0RGCMBBEHx1oB9qBpWgHWoIVOFZgCdCBlmIHWoId6KxeZg5IAsThfpiQ5LF3uQ0Vv9gCF2Bl4ydwBG42nvSoDHhN7NqNANfA3u1vBH2YwjtwtskTsAGkeJ2R2QMCB0HftsmrUjmCeq2JRRSohaXQJDBAc+m/gGVHZhYYoD7VWJqN6mQTg8AAjbWUFC78iRrYQ/3HWmJSh6BFKVV6rwjqe9nloB4s5QqZIQkL9KlQlSSZ9hhoN32fZhYclHa9HzsoQVt2TJViyPsCFbXULM1f4v1Bm5ZAc338vVBmufpy3i++pGPe/+t38gGpi1VTPRWL9QAAAABJRU5ErkJggg=="/></g></g></svg>
                  span.meta__text Стрижка
                li.meta__item
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23" height="21" viewBox="0 0 23 21"><g><g transform="translate(-171 -890)"><image width="23" height="21" transform="translate(171 890)" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAVCAYAAACt4nWrAAABm0lEQVRIS62U61UCMRSEZ1IBdoAdaAfagVYAVKBWoFaAVgBUgB1IB9KBdCAVZDyzJ9kTwrL4IP92k/vduU+SXEq6xYmPuST5JensxGyYa7gkXQJYn9DBBcmPDH8A8HJC+D3JaQO36qS+j38BYAtgcCxKqwZg9Q0cks4BbDroY5KPAIbF3UbSM4B5x/shyU//b+Ek5zHGSX4cQniSdJeUHopoS/I1xvhU2M0kjTO8CSGpN/yN5Hv+98M6OK3XAG5IzpLN2soNuiogq+o7X21IriT5bZmifF/brbrgrZ+UqkWqRVkPw4chhFFOQUeEK4YQ2hxVD1w0F7n3pOLtRWJhhrtw7oadUxcYwDiEMIwxOoK2Sw6JI/lMGxVFKB1YuSd3WwMKx4PU03vKJU0Mb0b1QOw5z10F7Lvz3Fwa7mZ303cBjqX80H1Trwae+nP5V1Jtl1b4W4ajp2t+5bNshBZuwn8d1B22A08S3T3TIzuljmYryWt7Z5F1wW04CCFMe6avnmKDvY53Z+VIQj3iY0mjeuWSXMQYrbRrTTfYb672wtUKa1d2AAAAAElFTkSuQmCC"/></g></g></svg>
                  span.meta__text Бритье
                li.meta__item
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="12" viewBox="0 0 45 12"><g><g transform="translate(-30 -937)"><image width="45" height="12" transform="translate(30 937)" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAMCAYAAAD26jQJAAABVUlEQVRIS61VUXUCMRCcXQVIQMJVQXFQqoCigFcFBQX3qgCqoNQBVVAkIAEF2b65t0DeNYFL6P1edmZ2MzsR3Pc1ItICmEQwezN7B7AB8CIiCwBN9H9nZq8A9rXUUlvogtZX6g8Axrn/Zjb3xool1Ioei8gPgFEx46XgaGYPANhc0VclWkQ+AUyLmNKHt2b2XIpTI3rqoku5kudd9LYETFR1HULgYhwHFE5c8D226NPQJpz2bgD/SFVbim7NjFu+CSF8ZLa6UdUFzw0Arjri/EydVKqQf3bS2dmD0+4JYiEnz4nGcVUlqKIoye+Nzc+eVtWlmb1VEKRKuiv/TyuJyCqEsCRZfxHpWQqPH4vSPg7uUU6Ljw+TJpvXA8D5GK1iz+fSgx6flYr36+svdbc8FftAsfT4n2S5FXmcECPu0RtIpQbBvxz82kNxwnrKDIM7RKzvW1i/Iw6HR5aUnrEAAAAASUVORK5CYII="/></g></g></svg>
                  span.meta__text Усы
          .our-works__wrap
            .our-works__item
              .our-works__picture
                picture
                  source(media="(min-width: 768px)", srcset="assets/i/our-works/2-tablet.jpg")
                  img.our-works__image(src="assets/i/our-works/2-mobile.jpg" alt="")

              .our-works__content
                h3.our-works__title Саша Мальцев
                p.our-works__text Попросил омолодить и омолодили! Кто теперь скажет, что мне 45?
                ul.our-works__meta.meta
                  li.meta__item
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21" height="20" viewBox="0 0 21 20"><g><g transform="translate(-42 -892)"><image width="21" height="20" transform="translate(42 892)" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAYAAABiS3YzAAAA8UlEQVQ4T7WV0RGCMBBEHx1oB9qBpWgHWoIVOFZgCdCBlmIHWoId6KxeZg5IAsThfpiQ5LF3uQ0Vv9gCF2Bl4ydwBG42nvSoDHhN7NqNANfA3u1vBH2YwjtwtskTsAGkeJ2R2QMCB0HftsmrUjmCeq2JRRSohaXQJDBAc+m/gGVHZhYYoD7VWJqN6mQTg8AAjbWUFC78iRrYQ/3HWmJSh6BFKVV6rwjqe9nloB4s5QqZIQkL9KlQlSSZ9hhoN32fZhYclHa9HzsoQVt2TJViyPsCFbXULM1f4v1Bm5ZAc338vVBmufpy3i++pGPe/+t38gGpi1VTPRWL9QAAAABJRU5ErkJggg=="/></g></g></svg>
                    span.meta__text Стрижка

            .our-works__item
              .our-works__picture
                picture
                  source(media="(min-width: 768px)", srcset="assets/i/our-works/3-tablet.jpg")
                  img.our-works__image(src="assets/i/our-works/3-mobile.jpg" alt="")

              .our-works__content
                h3.our-works__title Владимир Иваныч
                p.our-works__text К зимнему сезону — готов!
                ul.our-works__meta.meta
                  li.meta__item
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23" height="21" viewBox="0 0 23 21"><g><g transform="translate(-171 -890)"><image width="23" height="21" transform="translate(171 890)" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAVCAYAAACt4nWrAAABm0lEQVRIS62U61UCMRSEZ1IBdoAdaAfagVYAVKBWoFaAVgBUgB1IB9KBdCAVZDyzJ9kTwrL4IP92k/vduU+SXEq6xYmPuST5JensxGyYa7gkXQJYn9DBBcmPDH8A8HJC+D3JaQO36qS+j38BYAtgcCxKqwZg9Q0cks4BbDroY5KPAIbF3UbSM4B5x/shyU//b+Ek5zHGSX4cQniSdJeUHopoS/I1xvhU2M0kjTO8CSGpN/yN5Hv+98M6OK3XAG5IzpLN2soNuiogq+o7X21IriT5bZmifF/brbrgrZ+UqkWqRVkPw4chhFFOQUeEK4YQ2hxVD1w0F7n3pOLtRWJhhrtw7oadUxcYwDiEMIwxOoK2Sw6JI/lMGxVFKB1YuSd3WwMKx4PU03vKJU0Mb0b1QOw5z10F7Lvz3Fwa7mZ303cBjqX80H1Trwae+nP5V1Jtl1b4W4ajp2t+5bNshBZuwn8d1B22A08S3T3TIzuljmYryWt7Z5F1wW04CCFMe6avnmKDvY53Z+VIQj3iY0mjeuWSXMQYrbRrTTfYb672wtUKa1d2AAAAAElFTkSuQmCC"/></g></g></svg>
                    span.meta__text Бритье
                  li.meta__item
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="12" viewBox="0 0 45 12"><g><g transform="translate(-30 -937)"><image width="45" height="12" transform="translate(30 937)" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAMCAYAAAD26jQJAAABVUlEQVRIS61VUXUCMRCcXQVIQMJVQXFQqoCigFcFBQX3qgCqoNQBVVAkIAEF2b65t0DeNYFL6P1edmZ2MzsR3Pc1ItICmEQwezN7B7AB8CIiCwBN9H9nZq8A9rXUUlvogtZX6g8Axrn/Zjb3xool1Ioei8gPgFEx46XgaGYPANhc0VclWkQ+AUyLmNKHt2b2XIpTI3rqoku5kudd9LYETFR1HULgYhwHFE5c8D226NPQJpz2bgD/SFVbim7NjFu+CSF8ZLa6UdUFzw0Arjri/EydVKqQf3bS2dmD0+4JYiEnz4nGcVUlqKIoye+Nzc+eVtWlmb1VEKRKuiv/TyuJyCqEsCRZfxHpWQqPH4vSPg7uUU6Ljw+TJpvXA8D5GK1iz+fSgx6flYr36+svdbc8FftAsfT4n2S5FXmcECPu0RtIpQbBvxz82kNxwnrKDIM7RKzvW1i/Iw6HR5aUnrEAAAAASUVORK5CYII="/></g></g></svg>
                    span.meta__text Усы

            .our-works__item
              .our-works__picture
                picture
                  source(media="(min-width: 768px)", srcset="assets/i/our-works/4-tablet.jpg")
                  img.our-works__image(src="assets/i/our-works/4-mobile.jpg" alt="")

              .our-works__content
                h3.our-works__title Винстон Синий
                p.our-works__text Как только заростаю и волосы начинают мешать видеть — бегом в Бородинский!
                ul.our-works__meta.meta
                  li.meta__item
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21" height="20" viewBox="0 0 21 20"><g><g transform="translate(-42 -892)"><image width="21" height="20" transform="translate(42 892)" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAYAAABiS3YzAAAA8UlEQVQ4T7WV0RGCMBBEHx1oB9qBpWgHWoIVOFZgCdCBlmIHWoId6KxeZg5IAsThfpiQ5LF3uQ0Vv9gCF2Bl4ydwBG42nvSoDHhN7NqNANfA3u1vBH2YwjtwtskTsAGkeJ2R2QMCB0HftsmrUjmCeq2JRRSohaXQJDBAc+m/gGVHZhYYoD7VWJqN6mQTg8AAjbWUFC78iRrYQ/3HWmJSh6BFKVV6rwjqe9nloB4s5QqZIQkL9KlQlSSZ9hhoN32fZhYclHa9HzsoQVt2TJViyPsCFbXULM1f4v1Bm5ZAc338vVBmufpy3i++pGPe/+t38gGpi1VTPRWL9QAAAABJRU5ErkJggg=="/></g></g></svg>
                    span.meta__text Стрижка
        //.our-works__list
    include ../includes/price-list.pug
  //page-main

  include ../includes/page-footer.pug
  |
  |
block comment-scripts
block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js")
  script(src="assets/js/main.js")

