doctype html
html(lang="ru_RU")
	head
		meta(name="viewport"
		content="width=device-width,initial-scale=1.0")

		meta(charset="utf-8")

		block css

		block title

	body
		block content

		block scripts
