doctype html
html(lang="ru_RU")
  head
    meta(name="viewport"
    content="width=device-width,initial-scale=1.0")

    meta(charset="utf-8")

    block append css
      link(rel="stylesheet" type="text/css" href="assets/css/style.min.css")

    title
      block title

  body
    block content

      block main-nav

    block comment-scripts

    <!--[if lt IE 9]>
    <script src="assets/libs/html5shiv/es5-shim.min.js"></script>
    <script src="assets/libs/html5shiv/html5shiv.min.js"></script>
    <script src="assets/libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="assets/libs/html5shiv/respond.min.js"></script>
    <!--<![endif]-->

    block scripts
