// @import "../libs/reset.scss/reset.scss"
@import 'partials/fonts'
@import 'partials/variables'
@import 'partials/mixins'

body
  background: #ccc
  color: #aaa
  font-size: 18px
  margin: 0
  padding: 0

img
  max-width: 100%
  height: auto

.hidden
  display: none
