$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$accent-color: #826550;
$accent-dark-color: #6a4d38;
$accent-darkest-color: #624530;
$accent-color-darknest: #71543f;
$accent-color-lightnest: #886e5b;
$black-color: #000;
$black-lighter-color: #242424;
$white-color: #fff;
$white-darken-color: #f7f4f1;
$gray-color: #404040;
$gray-light-color: #4e4e4e;
$beige-light: #f8f5f2;

$text-color: $black-color;
$body-bg: #353535;

$regular-size: 18px;
$section-bg: $beige-light;
