//grid
$xs:  320px;
$md:  768px;
$xl:  1150px;

//colors
$white:  #fff;
$black:  #000;
$tundora: #444;
$silver: #c6c6c6;
$alto: #D3D2D2;
$gallery: #ececec;
$alabaster: #f9f9f9;
$seashell: #f1f1f1;
$accent:  #63d1bb;
$accent-darkest: #149080;
$accent-dark: #56c3b2;
$jungle-green: #29a592;

