// @import "../libs/reset.scss/reset.scss"
@import 'partials/_fonts.scss';
@import 'partials/_variables.scss';
@import 'partials/_mixins.scss';
@import '../libs/slick/slick.scss';
body {
  background: $body-bg;
  color: $text-color;
  @include ptsans;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

ul {
  @include reset-list;
}

img{
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  display: none;
  white-space: normal;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;
  @media screen and (min-width: $md) {
    padding: 0 65px;
    width: 640px;
  }
  @media screen and (min-width: $xl) {
    margin: 0 auto;
    padding: 0 120px;
    width: 960px;
  }
}

@import "blocks/button.scss";
@import "blocks/section-header.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/user-list.scss";
@import "blocks/stats.scss";
@import "blocks/advantages.scss";
@import "blocks/news.scss";
@import "blocks/reviews.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/after-header.scss";
@import "blocks/page-form.scss";
@import "blocks/choose-section.scss";
@import "blocks/settings-section-header.scss";
@import "blocks/services-section.scss";
@import "blocks/our-works.scss";
@import "blocks/price-list.scss";
@import "blocks/price-table.scss";
@import "blocks/clock.scss";
@import "blocks/footer.scss";

