@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/mixins';
// @import '../libs/slick/slick/slick.scss';
// @import '../libs/plyr/dist/plyr.css'
// @import '../../../build/assets/i/svg/bg/css/sprite.css'
html,
body {
	font-size: 17px;
}

body {
	margin: 0;
	padding: 0;
	padding-bottom: 700px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	line-height: 30px;
	color: $tundora;
	background: $white;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	@include reset-list;
}

p {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.container-big {
	margin: 0 auto;
	width: 1250px;
	// outline: 1px solid #008000;
}

@media screen and (max-width: $xl) {
	.container-big {
		width: 768px;
	}
}

@media screen and (max-width: $md) {
	.container-big {
		padding: 0 30px;
		width: 320px;
	}
}

.container {
	margin: 0 auto;
	width: 1050px;
	// outline: 1px solid #f00;
}

@media screen and (max-width: $xl) {
	.container {
		width: 668px;
	}
}

@media screen and (max-width: $md) {
	.container {
		width: 260px;
	}
}

.section-title {
	font-size: 53px;
	line-height: 57px;
}

